body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

/* Add margin between Compose button and footer */
.compose-button {
    margin-bottom: 20px; 
}

.footer-padding {
    flex-grow: 1;
}

.footer {
    text-align: center;
    background-color: #1abc9c;
    padding: 10px;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin-top: 25px;
    font-size: 14px;
    color: #fff;
}
